.taskRight {
    padding: 20px 30px;
    max-height: 85vh; 
    overflow-y: auto; 

    
    &__name {
      display: flex;
      align-items: center;
      margin: 5px 0;
  
      &-icon {
        width: 40px;
  
        i {
          font-size: 18px; 
        }
      }
  
      p {
        font-size: 14px; 
        font-weight: 600;
      }
    }
  
    .ml-40 {
      margin-left: 40px;
    }
  
    &__title, &__dec {
      display: flex;
      align-items: center;
      font-size: 14px; 
      font-weight: 500;
      color: var(--txt-primary); 
      p {
        flex: 1;
        margin-right: 15px;
        color: var(--txt-secondary); 
      }
    }
  
    &__params {
      margin-top: 20px;
  
      table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        th, td {
          padding: 15px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
  
        th {
          font-weight: 600;
          font-size: 13px; 
          background-color: #f5f5f5;
          color: #333;
        }
  
        td {
          color: #000; 
          font-weight: 500;
          font-size: 13px;
        }
  
        tr:last-child td {
          border-bottom: none;
        }
      }
    }
  
    &__progress {
      margin-top: 20px;
      margin-bottom: 20px;
      
      h4 {
        color: var(--txt-primary); 
        font-weight: 600;
        font-size: 14px;
      }
  
      &-item {
        margin-top: 10px;
        height: 30px;
        width: calc(100% - 40px);
        border-radius: 8px;
        background-color: #ddd;
        position: relative;
        overflow: hidden;
  
        p {
          position: absolute;
          z-index: 2;
          color: #fff;
          inset: 0;
          font-weight: 600;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: var(--progress);
          background-color: var(--main-color);
          transition: width 0.3s ease;
        }
      }
    }
  
    &__tag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
  
      &-item {
        display: inline-block;
        color: var(--txt-white);
        padding: 3px 10px;
        border-radius: 1000px;
        font-size: 12px;
        background-color: var(--main-color);
      }
    }
  
    &__date {
      margin: 10px 0;
    }
  
    &__members {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .more {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: var(--main-color);
          color: var(--txt-white);
          font-size: 14px;
        }
      }
    }
  
    .separator {
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;
    }
  }
  